body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.table {
    width: 100%;
    margin: auto;
}

.thead-dark th {
    background-color: #343a40;
    color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

#cadastroFormContainer, #alterarFormContainer {
    display: none;
    margin-top: 20px;
}

button[type="button"] {
    margin-right: 10px;
}
